@model IEnumerable<SSD_Major_Web_Project.Models.Product>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



    <div class="carousel">
        <img src="./images/banner/banner-1.jpg" alt="Banner-1">
        <img src="./images/banner/banner-2.jpg" alt="Banner-2">
        <img src="./images/banner/banner-3.jpg" alt="Banner-3">
    </div>


<script>
    document.addEventListener("DOMContentLoaded", function() {
        var carouselImages = document.querySelectorAll(".carousel img");
        var currentImage = 0;

        function showImage(n) {
            carouselImages[currentImage].classList.remove("active");
            currentImage = (n + carouselImages.length) % carouselImages.length;
            carouselImages[currentImage].classList.add("active");
        }

        function nextImage() {
            showImage(currentImage + 1);
        }

        setInterval(nextImage, 8000); // Change image every 8 seconds
    });
</script>

