@model IEnumerable<SSD_Major_Web_Project.Models.Product>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="carousel">
    <img src="./images/banner/banner-1.jpg" alt="Banner-1">
    <img src="./images/banner/banner-2.jpg" alt="Banner-2">
    <img src="./images/banner/banner-3.jpg" alt="Banner-3">
</div>

<div class="index-middle">
        <div class="index-mid-left">
            <div class="index-intro">An Effortless Mood</div>
            <div class="index-brief">
                If our original goes-with-everything trouser had a moodboard, what would it look
                like? Copenhagen stylist Sophia Roe captures The Effortless Pant™ with items from her every day.
            </div>
        </div>
        <div class="index-mid-right">
     
           <img src="./images//banner/discount-code.png" alt="discount-code" />

        </div>
</div>


<div class="banner-lookbook">
    <img src="./images/banner/index-lookbook.png" alt="banner-Lookbook">
</div>


<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script>
    $(document).ready(function () {
        var carouselImages = $(".carousel img");
        var currentImage = 0;

        function showImage(n) {
            $(carouselImages[currentImage]).removeClass("active");
            currentImage = (n + carouselImages.length) % carouselImages.length;
            $(carouselImages[currentImage]).addClass("active");
        }

        function nextImage() {
            showImage(currentImage + 1);
        }

        setInterval(nextImage, 8000); // Change image every 8 seconds

        nextImage();

    });
</script>