@model IEnumerable<SSD_Major_Web_Project.ViewModels.ProductVM>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="product-page-wrapper">

    <div class="product-title"> MEN'S Clothes</div>

    <div class="search-bar">
        <div class="search-icon-wrapper">
            <img src="~/images/icon/icon-search.svg" class="search-icon"></img>
        </div>
        <div class="search-input-container">
            <div class="search-input-wrapper">
                <input type="text" placeholder="Search products" class="search-input"></input>
            </div>
        </div>
    </div>

    <div class="product-container">
                @foreach (var item in Model)
                {
                <div class="product-items-container">
                    <a asp-action="Details" asp-route-id="@item.PkProductId">
                        <div class="product-thumbnail-wrapper">
                            @if (item.ImageByteArray != null)
                            {
                            <img src="data:image/jpeg;base64,
                                    @Convert.ToBase64String(item.ImageByteArray)"
                                 alt="item.Name"
                                 class="product-thumbnail" />
                            }
                        </div>
                    </a>
                    <div class="product-info">
                        <div class="product-name"> @Html.DisplayFor(modelItem => item.Name) </div>
                        <div class="product-price"> @Html.DisplayFor(modelItem => item.Price) </div>
                    </div>
                </div>
                }
    </div>

    <button class="load-more">
        Load more products
    </button>

    @* <p>
        <a asp-action="Create">Create New</a>
    </p> *@
    
</div>