@model SSD_Major_Web_Project.ViewModels.CreateProductVM

@{
    ViewData["Title"] = "CreateProduct";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create a New Product</h1>
<div id="create-product-grid">
    <div>
        <h3>Product Name</h3>
        <h3>Image</h3>
    </div>
    <div>
        <h3>Size</h3>
        <h3>Price</h3>
    </div>
    <div>
        <h3>Description</h3>
    </div>
</div>
