@{
    ViewData["Title"] = "Admin Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <h1>Admin Page</h1>
    <p>Hello Admin</p>
    <div id="admin-index-grid">
        <div class="grid-item">
            <button onclick="location.href='@Url.Action("AdminOrder","Admin")'">ALL ORDERS</button>
            <p>Manage Orders</p>
        </div>
        <div class="grid-item">
            <button onclick="location.href='@Url.Action("AllProducts","Admin")'">CREATE/EDIT/DELETE PRODUCTS</button>
            <p>Edit product detail<br />Create, Edit, and Delete Products</p>
        </div>
        <div class="grid-item">
            <button onclick="location.href='@Url.Action("AllDiscounts","Admin")'">CREATE/EDIT/DELETE DISCOUNTS</button>
            <p>Create, Edite, and Delete Discounts</p>
        </div>
    </div>

</div>

