@{
    ViewData["Title"] = "Admin Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <h1>Admin Page</h1>
    <p>Hello Admin</p>
    <div id="admin-index-grid">
        <div class="grid-item">
            <button>CREATE NEW LISTING</button>
            <p>Create a new product listing</p>
        </div>
        <div class="grid-item">
            <button>ALL ORDERS</button>
            <p>Manage open orders and fulfilled orders</p>
        </div>
        <div class="grid-item">
            <button>EDIT/DELETE LISTING</button>
            <p>Edit listing detail<br />Activate/deactivate existing listings</p>
        </div>
    </div>

</div>

