@model SSD_Major_Web_Project.ViewModels.CustomerVM

@{
    ViewData["Title"] = "Customer Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<form method="post">
    <input type="text" name="orderNumber" placeholder="Enter Order Number">
    <input type="submit" value="Submit">
</form>


