@model SSD_Major_Web_Project.ViewModels.CustomerVM

@{
    ViewData["Title"] = "Customer Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@* //  viewbag message *@
@if (ViewBag.Message != null)
{
    <div class="alert alert-danger" role="alert">
        @ViewBag.Message
    </div>
}

<form method="post" action="OrderTracking">
    <input type="text" name="trackingNumber" placeholder="Enter Trackcing number" value="">
    <input type="submit" value="Submit">
</form>


