@model SSD_Major_Web_Project.ViewModels.CustomerVM

@{
    ViewData["Title"] = "Customer Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>

    <h2>Order History</h2>
    <p>Past Orders</p>

    <div id="customer-order-history-grid">


</div>

