.message-prompt {
    color: red;
}

.product-details-container {
    display: flex;
    justify-content: space-around;
    width: 100%
}

.product-details-left {
    width: 300px;
}

.product-image-container {
    object-fit: fill;
    width: 300px;
    height: 400px;
}

.product-image {
    height:inherit;
    width:inherit;
}

.sub-image {
    margin-top: 5px;
}

.product-details-right {
    width: 50vw;
    height: 400px;
}

.size-button {
    transition: 0.3s;
}

.size-button:hover {
    background-color: #ddd;
}

.size-button.active {
    background-color: #ccc;
}

.product-description {
    height: auto;
    margin-bottom: 20px;
}
.product-price {
    height: 50px;
}

.product-buttons-container {

}

#product-add-to-bag {
    background-color: red;
    color: white;
}
#product-add-to-bag:hover {
    background-color: palevioletred;
}

#product-add-to-wishlist {
    
}

#product-add-to-wishlist:hover {
    background-color: lightgrey;
}

/* Review Styling */
.rating-header, .rating-review {
    padding: 8px;
}

.rating-header {
    /*text-align: center;*/
}

.reviews-container {
    padding-top: 20px;
}

.reviews-table {
    border-collapse: collapse;
    width: 100%;
}

    .reviews-table tr {
        border-bottom: 1pt solid black;
    }

@media (max-width: 576px) {
    .product-details-container {
        display: flex;
        justify-content: space-around;
        width: 100%;
        flex-direction: column;
        align-items: center;
    }
    .rating-header, .rating-review {
        padding: 5px;
    }
}