/*default application stylings*/
html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;

}

.navbar {
    background-color: #FDF0F0;
    color: white;
}




.footer-container {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #FDF0F0;
    font-size: 0.7rem;
    padding: 10px;
}

.footer-container img {
    width:30px;
    padding: 5px;
}

/*Home Controller Stylings*/


/*SHOP CONTROLLER*/

/*USER CONTROLLER*/

/*ROLE CONTROLLER*/

/*ADMIN CONTROLLER*/
/*Admin Index Styling*/
#admin-index-grid{
    display:grid;
    grid-template-columns: 1fr;
    padding-left:20px;

    .grid-item{
                min-width:250px;
              }

    button{
        background-color:transparent;
        font-weight:500;
        border-radius:0.2rem;
        border: solid blue 1px;
        padding: 0px 25px;
        margin: 10px auto;

        &:hover{
                background-color:dodgerblue;
                border:solid black 1px;
                color:white;
               }
    }
}

@media(min-width:550px){
    #admin-index-grid {
        grid-template-columns: 1fr 1fr;
    }
}